{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>答题记录</legend>
    </fieldset>
    <input type="hidden" name="id" id="id" value="{$id}">
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">搜索</button>
        <a href="{:url('answerHistory')}" class="layui-btn">显示全部</a>

    </div>
    <script type="text/html" id="is_right">
        {{# if(d.is_right=='0'){ }}
        错
        {{# }else{ }}
        对
        {{# } }}
    </script>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{include file="common/foot"/}
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery;
        var id = $('#id').val();
        var tableIn = table.render({
            id: 'survey',
            elem: '#list',
            url: '{:url("testDetails")}',
            method: 'post',
            toolbar: '#topBtn',
            where : {'id' : id},
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true},
                {field: 'question_title', title: '问题名称', width: 500},
                {field: 'is_right', title: '是否正确', width: 200, templet:'#is_right'},
                {field: 'score', title: '得分', width: 150},
                {field: 'answer_time', title: '答题时间', width: 200},
             
            ]],
            limit: 10 //每页默认显示的数量
        });
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            if($.trim(key)==='') {
                layer.msg('{:lang("pleaseEnter")}关键字！',{icon:0});
                return;
            }
            tableIn.reload({ page: {page: 1},where: {key: key}});
        });
    });
</script>
</body>
</html>