{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>积分设置列表</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">搜索</button>
        <a href="{:url('setList')}" class="layui-btn">显示全部</a>
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
<script type="text/html" id="action">
    <a href="{:url('setEdit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
   
</script>
<script type="text/html" id="is_open">
    <input type="checkbox" name="is_open" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="is_open" {{ d.is_open == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
{include file="common/foot"/}
<script type="text/html" id="title">
    {{d.title}}{{# if(d.title_bg){ }}<img src="/muke/public/static/admin/images/image.gif" onmouseover="layer.tips('<img src={{d.title_bg}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">{{# } }}
</script>
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery;
        var tableIn = table.render({
            id: 'integral',
            elem: '#list',
            url: '{:url("setList")}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true,templet:'#zizeng'},
                {field: 'type', title: '积分类型', width: 200},
                {field: 'node', title: '积分', width: 150},
                {field: 'is_open', title: '是否开启', width: 150,templet: '#is_open'},
                {width: 200, align: 'center', toolbar: '#action'}
            ]],
            limit: 10 //每页默认显示的数量
        });
        
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            if($.trim(key)==='') {
                layer.msg('{:lang("pleaseEnter")}关键字！',{icon:0});
                return;
            }
            tableIn.reload({ page: {page: 1},where: {key: key}});
        });
        //开关
        form.on('switch(is_open)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var is_open = obj.elem.checked===true?1:0;
            $.post('{:url("isOpen")}',{'id':id,'is_open':is_open},function (res) {
                layer.close(loading);
                if (res.status==1) {
                    tableIn.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    return false;
                }
            })
        });
    });
</script>

</body>
</html>