{include file="common/head"/}
<style>
    .layui-form-label{
        width:160px!important;
    }
</style>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" lay-filter="form"  enctype="multipart/form-data">
        <input type="hidden" name="survey_id" value="{$survey_id}">
        <div class="layui-form-item">
            <label class="layui-form-label">讲师姓名</label>
            <div class="layui-input-4">
                <input type="text" name="teacher_name" ng-model="field.teacher_name" lay-verify="required" placeholder="{:lang('pleaseEnter')}讲师姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-4">
                <input type="text" name="phone" ng-model="field.phone"  placeholder="{:lang('pleaseEnter')}联系方式" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" ng-model="field.sex" ng-value="1" title="男">
                <input type="radio" name="sex" ng-model="field.sex" ng-value="2" checked title="女">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <input type="hidden" name="head_img" id="head_img" value="{{field.head_img}}">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="head_imgBtn"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="titleBg">
                        <p id="demoText" ></p>
                    </div>
            </div>
                </div>
        </div>
      
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">讲师介绍</label>
            <div class="layui-input-block">
                <textarea name="teacher_introduce" ng-model="field.teacher_introduce" placeholder="{:lang('pleaseEnter')}内容" class="layui-textarea" style="width:50%"></textarea>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('teacherList')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>

    </form>
</div>
{include file="common/foot"/}
<script src="/muke/public/static/common/js/angular.min.js"></script>
<script src="/muke/public/static/common/js/jquery.2.1.1.min.js"></script>
<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',function($scope) {
        $scope.field = '{$info|raw}'!='null'?{$info|raw}:{id:'',teacher_name:''};
        layui.use(['form', 'layer','upload','element'], function () {
            var form = layui.form, layer = layui.layer,$= layui.jquery, upload = layui.upload,element=layui.element;
            var info = {$info|raw};
             form.val("form", info);
            if($scope.field.head_img){
                titleBg.src = $scope.field.head_img;
            }
            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                data.field.id = $scope.field.id;
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            });

          //普通图片上传
            var uploadInst = upload.render({
                elem: '#head_imgBtn'
                ,url: '{:url("UpFiles/upload")}'
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#titleBg').attr('src', result); //图片链接（base64）
                    });
                },
                done: function(res){
                    if(res.code>0){
                        $('#head_img').val(res.url);
                    }else{
                        //如果上传失败
                        return layer.msg('上传失败');
                    }
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });
       
    });

    
        
    
</script>
</body>
</html>